:root {
  /* color properties */
  --primary: #1e92fe;
  --primary-hover: #1472be;
  --secondary: #f8f8f8;
  --pure: #fff;
  --dark: #232323;
  --gray: #ccc;

  /* transition */
  --smooth: all 0.2s ease-in-out;
}
